<!-- Start Color Chnage  -->
    <div class="cs_color_settings_btn cs_center"><i class="fa-solid fa-gear"></i></div>
    <div class="cs_color_settings_in">
      <div class="cs_color_option cs_color_option_bg_1 cs_center active" data-color="#132573">
        <i class="fa-solid fa-check"></i>
      </div>
      <div class="cs_color_option cs_color_option_bg_2 cs_center" data-color="#09bbaf">
        <i class="fa-solid fa-check"></i>
      </div>
      <div class="cs_color_option cs_color_option_bg_3 cs_center" data-color="#a81874">
        <i class="fa-solid fa-check"></i>
      </div>
      <div class="cs_color_option cs_color_option_bg_4 cs_center" data-color="#2d3928">
        <i class="fa-solid fa-check"></i>
      </div>
      <div class="cs_color_option cs_color_option_bg_5 cs_center" data-color="#966046">
        <i class="fa-solid fa-check"></i>
      </div>
      <div class="cs_color_option cs_color_option_bg_6 cs_center" data-color="#307bc4">
        <i class="fa-solid fa-check"></i>
      </div>
    </div>
  <!-- End Color Chnage  -->