 <!-- Start Footer Section -->
  
    <div class="container cs_white_color">
      <div class="cs_footer_row">
        <div class="cs_footer_col">
          <div class="cs_footer_widget">
            <div class="cs_footer_text_widget">
              <img src="../assets/img/img/logo2.png" alt="Logo">
              <p>Bantu kamu memahami kondisi tubuh melalui warna, frekuensi, dan pola BAK.</p>
            </div>
            <!-- <div class="cs_social_btns cs_style_1">
              <a href="#" class="cs_center">
                <i class="fa-brands fa-facebook-f"></i>
              </a>
              <a href="#" class="cs_center">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
              <a href="#" class="cs_center">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#" class="cs_center">
                <i class="fa-brands fa-pinterest-p"></i>
              </a>
            </div> -->
          </div>
        </div>
        <div class="cs_footer_col">
          <div class="cs_footer_widget">
            <h2 class="cs_footer_widget_title cs_fs_32 cs_white_color cs_bold">Links</h2>
            <ul class="cs_footer_widget_menu">
              <li><a href="../index.html">Home</a></li>
                <li><a href="../display/HydraTrack.html">HydraTrack</a></li>
                <li><a href="../display/PeePal.html">PeePal</a></li>
                <li><a href="../display/SiKandung.html">SiKandung</a></li>
                <li><a href="../display/assestment.html">Assestment</a></li>
            </ul>
          </div>
        </div>
        <!-- <div class="cs_footer_col">
          <div class="cs_footer_widget">
            <h2 class="cs_footer_widget_title cs_fs_32 cs_white_color cs_bold">Resources</h2>
            <ul class="cs_footer_widget_menu">
              <li><a href="#">Demos</a></li>
              <li><a href="#">Instructions</a></li>
              <li><a href="#">Personal Meeting</a></li>
              <li><a href="doctors.html">Doctor List</a></li>
              <li><a href="#">Refund Policy</a></li>
            </ul>
          </div>
        </div> -->
        <!-- <div class="cs_footer_col">
          <div class="cs_footer_widget">
            <h2 class="cs_footer_widget_title cs_fs_32 cs_white_color cs_bold">Office</h2>
            <ul class="cs_footer_widget_menu cs_address">
              <li>America- 66 Brooklyn golden street 600 New York. USA</li>
              <li class="cs_fs_32 cs_bold cs_phone_number">
                <div class="cs_height_20 cs_height_lg_20"></div>
                <a href="tel:+444547800112">+1 (212) 621-5896</a>
              </li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
    <div class="cs_footer_bottom cs_white_color">
      <div class="container">
        <div class="cs_footer_bottom_in">
          <p class="cs_copyright mb-0">UrinKu 2024. All Rights Reserved.</p>
          <ul class="cs_footer_widget_menu">
            <li><a href="#">Privacy &amp; Cookie Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  <!-- End Footer Section -->
  