   <div class="cs_main_header">
      <div class="container-fluid">
        <div class="cs_main_header_in">
          <div class="cs_main_header_left">
            <a class="cs_site_branding" href="../index.html">
              <img src="../assets/img/img/logo2.png" alt="Logo">
            </a>
            <div class="cs_nav cs_fs_18 cs_semibold">
              <div class="cs_nav_list_wrap">
                <ul class="cs_nav_list">  
                  <li><a href="../index.html">Home</a></li>
                  <li><a href="../display/HydraTrack.html">HydraTrack</a></li>
                  <li><a href="../display/PeePal.html">PeePal</a></li>
                  <li><a href="../display/SiKandung.html">SiKandung</a></li>
                  <li><a href="../display/assestment.html">Assesment</a></li>
                  <li><a href="../display/dokter.html">Konsultasi</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="cs_main_header_right">
            <a href="../display/assestment.html" class="cs_btn cs_style_1 cs_fs_18 cs_semibold cs_accent_bg  cs_radius_100"><span class="cs_btn_text">Ayo Cek Sekarang</span></a>
          </div>
        </div>
      </div>
    </div>
    